<h3>{{authenticatedUser.username}} activity</h3>

<app-session-bar-chart></app-session-bar-chart>

<form (ngSubmit)="onSubmit()" #rangeForm="ngForm">
    <div class="form-group">
        <label for="range">Activity range</label>
        <select class="form-control" id="range" required [(ngModel)]="selectedRange" name="range" (change)="onSelect()">
            <option *ngFor="let r of ranges" [value]="r">{{r}}</option>
        </select>
    </div>
</form>

<app-stacked-sessions></app-stacked-sessions>